.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.font-semibold{
  font-weight: 600;
}
.font-bold{
  font-weight: 700;
}
.bg-infoSky{
  background-color: #02A3C1;
}
.bg-1{
  background-color: #B7975F47;
}
.bg-2{
  background-color: #D0E5D6;
}
.bg-3{
  background-color: #D1E7F4;
}
.bg-4{
  background-color:  #FCEEC0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
